ipykernel
numpy==1.26.4
matplotlib
scipy
opencv-python

torch
torchvision
torchaudio

ultralytics
roboflow==1.1.33
supervision

scg-detection-tools @ git+https://github.com/juliokscesar/scg-detection-tools@main
